In [1]:
import pandas as pd
import numpy as np
from datascience import *
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plots
from urllib.request import urlopen, Request
import re
def read_url(url):
    return re.sub ('\\s +','',urlopen(url).read().decode())

In [2]:
huck_finn_url = 'https://www.inferentialthinking.com/data/huck_finn.txt'
huck_finn_text = read_url(huck_finn_url)
huck_finn_chapters = huck_finn_text.split('CHAPTER ')[44:]

little_women_url = 'https://www.inferentialthinking.com/data/little_women.txt'
little_women_text = read_url(little_women_url)
little_women_chapters = little_women_text.split('CHAPTER ')[1:]

In [3]:
# Display the chapters of Huckleberry Finn in a table.

Table().with_column('Chapters', huck_finn_chapters)

Chapters
I.

YOU don't know about me without you have read a bo ...
II.

WE went tiptoeing along a path amongst the trees  ...
III.

WELL, I got a good going-over in the morning fro ...
IV.

WELL, three or four months run along, and it was  ...
V.

I had shut the door to.  Then I turned around and  ...
VI.

WELL, pretty soon the old man was up and around a ...
VII.

"GIT up!  What you 'bout?"

I opened my eyes a ...
VIII.

THE sun was up so high when I waked that I judg ...
IX.

I wanted to go and look at a place right about th ...
X.

AFTER breakfast I wanted to talk about the dead ma ...
... (33 rows omitted)

In [4]:
np.char.count(huck_finn_chapters,'Tom')

array([ 6, 24,  5,  0,  0,  0,  2,  2,  0,  0,  2,  3,  1,  0,  0,  0,  3,
        5,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  4, 19, 15,
       14, 18,  9, 32, 11, 11,  8, 30,  6])

In [5]:
# Count how many times the names Jim, Tom, and Huck appear in each chapter.

counts = Table().with_columns([
        'Jim', np.char.count(huck_finn_chapters, 'Jim'),
        'Tom', np.char.count(huck_finn_chapters, 'Tom'),
        'Huck', np.char.count(huck_finn_chapters, 'Huck')
    ])

# Plot the cumulative counts:
# how many times in Chapter 1, how many times in Chapters 1 and 2, and so on.

In [6]:
counts

Jim  | Tom  | Huck
0    | 6    | 3
16   | 24   | 2
0    | 5    | 2
8    | 0    | 1
0    | 0    | 0
0    | 0    | 2
0    | 2    | 0
22   | 2    | 5
11   | 0    | 1
19   | 0    | 0
... (33 rows omitted)

In [7]:
cum_counts = counts.cumsum().with_column('Chapter', np.arange(1, 44, 1))
cum_counts.plot(column_for_xticks=3)
plots.title('Cumulative Number of Times Each Name Appears', y=1.08);
plots.show()

/home/hicham/anaconda3/lib/python3.7/site-packages/datascience/tables.py:222: FutureWarning: Implicit column method lookup is deprecated.
  warnings.warn("Implicit column method lookup is deprecated.", FutureWarning)

In [8]:
# The chapters of Little Women, in a table

Table().with_column('Chapters', little_women_chapters)

Chapters
ONE

PLAYING PILGRIMS

"Christmas won't be Christmas ...
TWO

A MERRY CHRISTMAS

Jo was the first to wake in  ...
THREE

THE LAURENCE BOY

"Jo!Jo!Where are you?" crie ...
FOUR

BURDENS

"Oh, dear, how hard it does seem to t ...
FIVE

BEING NEIGHBORLY

"What in the world are you g ...
SIX

BETH FINDS THE PALACE BEAUTIFUL

The big house  ...
SEVEN

AMY'S VALLEY OF HUMILIATION

"That boy is a p ...
EIGHT

JO MEETS APOLLYON

"Girls, where are you goin ...
NINE

MEG GOES TO VANITY FAIR

"I do think it was th ...
TEN

THE P.C. AND P.O.

As spring came on, a new set ...
... (37 rows omitted)

In [9]:
# Counts of names in the chapters of Little Women

counts = Table().with_columns([
        'Amy', np.char.count(little_women_chapters, 'Amy'),
        'Beth', np.char.count(little_women_chapters, 'Beth'),
        'Jo', np.char.count(little_women_chapters, 'Jo'),
        'Meg', np.char.count(little_women_chapters, 'Meg'),
        'Laurie', np.char.count(little_women_chapters, 'Laurie'),

    ])

# Plot the cumulative counts.

cum_counts = counts.cumsum().with_column('Chapter', np.arange(1, 48, 1))
cum_counts

/home/hicham/anaconda3/lib/python3.7/site-packages/datascience/tables.py:222: FutureWarning: Implicit column method lookup is deprecated.
  warnings.warn("Implicit column method lookup is deprecated.", FutureWarning)

Amy  | Beth | Jo   | Meg  | Laurie | Chapter
23   | 26   | 44   | 26   | 0      | 1
36   | 38   | 65   | 46   | 0      | 2
38   | 40   | 127  | 82   | 16     | 3
52   | 58   | 161  | 99   | 16     | 4
58   | 72   | 216  | 112  | 51     | 5
64   | 100  | 229  | 117  | 60     | 6
91   | 105  | 238  | 122  | 67     | 7
139  | 114  | 309  | 138  | 84     | 8
142  | 119  | 330  | 209  | 108    | 9
147  | 124  | 342  | 213  | 112    | 10
... (37 rows omitted)

In [10]:
cum_counts.plot()
plots.title('Cumulative Number of Times Each Name Appears', y=1.08);
plots.show()

In [11]:
# In each chapter, count the number of all characters;
# call this the "length" of the chapter.
# Also count the number of periods.

chars_periods_huck_finn = Table().with_columns([
        'Huck Finn Chapter Length', [len(s) for s in huck_finn_chapters],
        'Number of Periods', np.char.count(huck_finn_chapters, '.')
    ])
chars_periods_little_women = Table().with_columns([
        'Little Women Chapter Length', [len(s) for s in little_women_chapters],
        'Number of Periods', np.char.count(little_women_chapters, '.')
    ])

chars_periods_huck_finn

Huck Finn Chapter Length | Number of Periods
7206                     | 66
12352                    | 117
8764                     | 72
7029                     | 84
8443                     | 91
14910                    | 125
13586                    | 127
22935                    | 249
8301                     | 71
7234                     | 70
... (33 rows omitted)

In [15]:
plots.figure(figsize=(6, 6))
plots.scatter(chars_periods_huck_finn.column(1), chars_periods_huck_finn.column(0),  color='darkblue')
plots.scatter(chars_periods_little_women.column(1), chars_periods_little_women.column(0), color='gold')
plots.xlabel('Number of periods in chapter')
plots.ylabel('Number of characters in chapter')
plots.show()

Likewise, a ten-year growth rate can be used to compute an equivalent annual growth rate. Below, t is the number of years that have passed between measurements. The following computes the annual growth rate of federal expenditures over the last 10 years.

In [16]:
initial = 2.37
changed = 3.38
t = 10
(changed/initial) ** (1/t) - 1

0.03613617208346853

In [17]:
#calculate the rate
initial = 2.37
changed = 3.38
rate =round( ((changed/initial)-1 ) *100,2)
rate

42.62

![Contentzh](tz.png)

![3rd statistical moment-Skewness](b.png)